body {
    background-color: #c7feff;
}

nav ul {
    width: 960px;
    margin: 0 auto;
    text-decoration: none;
}

nav ul li {
    width: 120px;
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    display: inline;
}

p {
    font-family: 'PT Serif', serif;
}

.navbar {
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    position: sticky;
    background-color: #c7feff;
    height: 80px;
    text-decoration: none;
    list-style-type: none;
}

.navbar-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    margin: 10px;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.navbar-button:hover {
    text-decoration: none;
    color: #333;
    padding: 10px;
    margin-left: 10px;
    border: none;
}

nav ul li a:hover {
    text-decoration: none;
    font-family: 'PT Serif', serif;

}


nav ul li a:focus {
    outline: none;
}

nav ul li a:active {
    outline: none;
}


footer {
    width: 1000px;
    margin: 0 auto;
    padding: 0 px;
    position: sticky;
    text-align: center;
    background-color: rgb(157, 157, 157) !important;
    font-family: 'PT Serif', serif;
}


.textoinicio {
    width: 1000px;
    margin: 0 auto;
    padding: 0 px;
    position: sticky;
    text-align: center;
    padding-bottom: 20px;

}

.imagenprincipal {
    width: 1000px;
    margin: 0 auto;
    padding: 0 px;
    position: sticky;
    align-items: center;
}

#nosotros {
    width: 1000px;
    margin: 0 auto;
    padding: 0 px;
    position: sticky;
    text-align: center;
    padding-bottom: 20px;
}

#planes {
    width: 1000px;
    margin: 0 auto;
    padding: 1000 px;
    position: sticky;
    padding-bottom: 20px;
}

#contacto {
    width: 1000px;
    margin: 0 auto;
    padding: 1000 px;
    position: sticky;
    text-align: center;

}

#redes {
    list-style-type: none;
    display: block;
    float: left;

}

a {
    color: #3D2205;
}

iframe {
    padding-right: 10px;
    float: right;
    width: 650px;
    height: 300px;
    border: 0;
}

address {
    text-align: left;
    margin-top: 250px;
    margin-left: 20px;
}

.flip-box {
    background-color: transparent;
    width: 1000px;
    height: 490px;
    perspective: 1000px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-back {
    background-color: #c7feff;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
}

.coberturas {
    text-align: left;
}

h3 {
    text-align: left;
}

.subtitulo {
    text-align: center;
}